div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 3px solid rgb(230, 139, 4);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 3px;
  text-align: center;
  color: rgb(59, 56, 52);
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.headerphoto {
  text-align: center;
}

div.copywright {
  float: left;
}

p {
  font-size: 12px;
  text-align: center;
}
